
.hover-toggle-inline,
.hover-toggle-inline-block,
.hover-toggle-flex,
.hover-toggle-block {
  display: none;
}

.hover-target:hover .hover-toggle-block,
.hover-target:hover ~ .hover-toggle-block {
  display: block;
}

.hover-target:hover .hover-toggle-flex,
.hover-target:hover ~ .hover-toggle-flex {
  display: flex;
}

.hover-target:hover .hover-toggle-inline,
.hover-target:hover ~ .hover-toggle-inline {
  display: inline;
}

.hover-target:hover .hover-toggle-inline-block,
.hover-target:hover ~ .hover-toggle-inline-block {
  display: inline-block;
}
