// Base class
.tooltip {
  position: absolute;
  z-index: $zindex-tooltip;
  margin: $tooltip-margin;
  padding: $tooltip-padding-y $tooltip-padding-x $tooltip-padding-y $tooltip-padding-x;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  @include font-size($tooltip-font-size);
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  pointer-events: none;
  opacity: $tooltip-opacity;
  background-color: $tint;
  color: $light;
}

.tooltip:after {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
}

.tooltip-top {
  top: 0;
}

.tooltip-top:after {
  bottom: -$tooltip-arrow-height;
  border-top: $tooltip-arrow-height solid $tint;
  border-right: 0;
  border-bottom: 0;
  border-left: $tooltip-arrow-width solid transparent;
}

.tooltip-right {
  display: inline;
  margin-left: $tooltip-arrow-height;
  margin-top: $tooltip-padding-y;
}

.tooltip-right:after {
  top: 0;
  left: -$tooltip-arrow-height;
  border-top: $tooltip-arrow-width solid $tint;
  border-right: 0;
  border-bottom: 0;
  border-left: $tooltip-arrow-height solid transparent;
}

.tooltip-bottom {
}

.tooltip-bottom:after {
  top: -$tooltip-arrow-height;
  border-top: 0;
  border-right: 0;
  border-bottom: $tooltip-arrow-height solid $tint;
  border-left: $tooltip-arrow-width solid transparent;
}

