<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-black position-sticky top z-sticky">
  <a class="navbar-brand mr-0 mr-md-2 svg-primary" style="width:36px" href="/" aria-label="Bootstrap">
    {{ partial "icons/flosports.svg" (dict "class" "d-block" "width" "36" "height" "36") }}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link{{ if .IsHome }} active{{ end }}" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .Page.Layout "docs" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .Page.Title "Examples" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ .Site.Params.themes }}/" target="_blank" rel="noopener">Themes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ .Site.Params.expo }}/" target="_blank" rel="noopener">Expo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ .Site.Params.blog }}/" target="_blank" rel="noopener">Blog</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav ml-md-auto">

    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.repo }}" target="_blank" rel="noopener" aria-label="flo-bootstrap" name="flo-bootstrap" title="flo-bootstrap">
        {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg text-flograppling" "width" "36" "height" "36") }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.floangular }}" target="_blank" rel="noopener" aria-label="flo-angular" name="flo-angular" title="flo-angular">
        {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg text-floracing" "width" "36" "height" "36") }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.jira }}" target="_blank" rel="noopener" aria-label="jira" name="jira" title="jira">
        {{ partial "icons/jira.svg" (dict "class" "navbar-nav-svg text-flobikes" "width" "36" "height" "36") }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.confluence }}" target="_blank" rel="noopener" aria-label="confluence" name="confluence" title="confluence">
        {{ partial "icons/confluence.svg" (dict "class" "navbar-nav-svg text-flogymnastics" "width" "36" "height" "36") }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.zeplin }}" target="_blank" rel="noopener" aria-label="zeplin" name="zeplin" title="zeplin">
        {{ partial "icons/zeplin.svg" (dict "class" "navbar-nav-svg text-flowrestling" "width" "36" "height" "36") }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" target="_blank" rel="noopener" aria-label="Slack" href="{{ .Site.Params.slack }}/"  name="slack" title="slack">
        {{ partial "icons/slack.svg" (dict "class" "navbar-nav-svg text-flocheer" "width" "36" "height" "36") }}
      </a>
    </li>
  </ul>
</header>
