// Local docs variables
$primary-bright: lighten(saturate($primary, 5%), 15%) !default;
$primary-light:  lighten(saturate($primary, 5%), 45%) !default;
$bd-dark:          $gray-600 !default;
$bd-download:      #ffe484 !default;
$bd-info:          $info !default;
$bd-warning:       $warning !default;
$bd-danger:        $danger !default;

// Enable responsive font sizes for font sizes defined in the docs
// The weird if test is made as a workaround to prevent a false fusv error.
//
// stylelint-disable-next-line scss/dollar-variable-default
$enable-responsive-font-sizes: if($enable-responsive-font-sizes, true, true);
